html, body, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: Consolas;
  font-size: 14px;
  line-height: 1.1em;
}

.container {
  display: block;
  width: 960px;
  margin: 0 auto;
  padding: 10px;
}

.form {
  width: 100%;
  margin: 0;
  padding: 0;
  border: 1px solid #eee;
}

.form-group {
  display: block;
  margin: 10px;
  padding: 0;
}

.form-group label {
  display: block;
  float: left;
  width: 150px;
  height: 30px;
  line-height: 30px;
  text-align: right;
  colro: #333;
}

.form-group input {
  display: inline-block;
  width: 768px;
  margin-left: 10px;
  padding: 2px 2px 2px 8px;
  text-align: left;
  height: 24px;
  line-height: 30px;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
  font-family: Consolas "Microsoft YaHei";
  color: #888;
}

.form-group textarea {
  display: inline-block;
  width: 768px;
  max-width: 768px;
  margin-left: 10px;
  padding: 2px 2px 2px 8px;
  text-align: left;
  line-height: 30px;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
  font-family: Consolas "Microsoft YaHei";
  color: #888;
  resize: none;
}

.error {
  color: #ffb0b0!important;
  border-color: #ffb0b0!important;
}

.button {
  display: inline-block;
  margin: 0;
  padding: 5px 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background: #eee;
  color: #333;
  outline: none;
}

.button:hover {
  background: #ddd;
}

.button:active {
  background: #888;
  color: #eee;
}
